/*COLOR SCHEME*******************************************
    Blues from darkest to lightest:    
    darkest: #020659;
    2nd darkest: #020873;
    3rd darkest: #030A8C;
    bright, dark blue: #2104D9;
    darker, light blue: #0D8DFB;
    lightest blue: #2699FB;

    purple: #590242;
**/

/*GLOBAL SELECTORS********************************************/
html {
    box-sizing: border-box;
    background-color: #020659;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 375px;
    margin: 0 auto;
    background-color: #FFF;
    text-transform: uppercase;
}
h2 {
    background-color: #FFF;
    color: #590242;
}
p, dd {
    text-transform: initial;
}

dt {
    display: none;
}

footer {
    color: #590242;
    text-align: center;
}

/*TRENDING SECTION*********************************************/


/*YOUR PLAYLISTS SECTION***************************************/
#playlists {
    background-color: #2699FB;
    color: #FFF;
}
#playlists section {
    background-color: #0D8DFB;
}
/*CURATED PLAYLISTS SECTION************************************/
#curated {
    background-color: #030A8C;
    color: #FFF;
}
#curated section {
    background-color: #020873;
}

/*MEDIA QUERIES************************************************/