/*COLOR SCHEME*******************************************
    Blues from darkest to lightest:    
    darkest: #020659;
    2nd darkest: #020873;
    3rd darkest: #030A8C;
    bright, dark blue: #2104D9;
    darker, light blue: #0D8DFB;
    lightest blue: #2699FB;

    purple: #590242;
**/

/*GLOBAL SELECTORS********************************************/
html {
    box-sizing: border-box;
    background-color: #020659;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #FFF;
    display: grid;
    justify-content: center;
}
header {
    background: linear-gradient(90deg,#030A8C,#020659,#000) border-box;
    color: #FFF;
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 20pt;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
}
header p {
    font-weight: normal;
    text-transform: initial;
}
header h2 {
    background: linear-gradient(90deg,#030A8C,#020659,#000) border-box;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}
h2 {
    background-color: #FFF;
    color: #590242;
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20pt;
}
p {
    text-transform: initial;
}
nav {
    background-color: #030A8C;
    color: #FFF;
    height: 80px;
    order: -1;
}
ul {
    list-style: none;
}
li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
} 
li:first-child {
    font-variant: small-caps;
    font-size: 20pt;
}
li:first-child ~ li {
    text-transform: uppercase;
    font-size: 20pt;
}
a {
    text-decoration: none;
    color: #FFF;
    /* padding: 3px; */
}
a:hover {
    background-color: #590242;
}
div a:hover {
    height: 299px;/*consider changing this code*/
}
div {
    width: 311px;    
}
dl {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 16pt;
    color: #590242;
    display: grid;
}
dt {
    font-weight: lighter;/*Consider changing this to a number instead*/
    font-size: 16pt;
    text-transform: initial;
    font-style: italic;
}
dd {
    font-weight: normal;
    text-transform: initial;
    margin-left: 15px;
}
footer {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #590242;
    background-color: #FFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.more {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14pt;
    background-color: #590242;
    color: #FFF;
    text-transform: initial;
    width: 210px;
    text-align: center;
    padding: 5px 30px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
a.more:hover {
    background-color: #020659;
}

/*Hamburger Menu Coding from CC, except for media query which is at bottom of stylesheet*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*ENDS Hamburger Menu Coding from CC*/

/*TRENDING SECTION*********************************************/
#trending {
    background-color: #FFF;
    width: 100%;
    margin-bottom: 15px;
}
#trending h2 {
    margin-bottom: -50px;
    margin-left: 25px;
}
.songs {
    display: flex;
    width: 415px;
    margin-bottom: 15px;
    overflow: scroll;
}
.songs section {
    margin: 5px;
    margin-bottom: 25px;
    min-width: 311px;/*added min*/
    height: 381px;
    overflow: hidden;
    flex: 1 0 1;
}
.songs div {
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: .7;
    background-color: rgba(211,211,211,.7);
    position: relative;
    top: 312px;
}
dl {
    display: flex;
    margin-left: 10px;
}
#trending h3 {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #590242;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
audio {
    margin-left: 5px;
    position: relative;
    bottom: 205px;
}
audio[controls] {
    border-radius: 20px;
}
    /*CC's code for the audio and scrollbar*/
audio::-webkit-media-controls-mute-button {
    background-color: #FFF;
    border-radius: 100%;
}
audio::-webkit-media-controls-play-button {
    background-color: #FFF;
    border-radius: 100%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(211,211,211,.7);
}
audio::-moz-media-controls-enclosure {
    background-color: rgba(211,211,211,.7);
}
#trending ::-webkit-scrollbar {
    /* background-color: #590242; */
}
#trending ::-webkit-scrollbar-track {
    /* background-color: rgba(89, 2, 66, .1); */
}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}


/*YOUR PLAYLISTS SECTION***************************************/
#playlists {
    background-color: #FFF;
    color: #FFF;
    width: 415px;   
}
#playlists h2 {
    margin-bottom: 10px;
    margin-left: 25px;
}
#playlists div {
    background-color: #2699FB;
    display: flex;
    width: 415px;
    overflow: scroll;
}
#playlists section {
    background-color: #0D8DFB;
    margin: 10px;
    min-width: 185px;
    flex: 1 0 1;
}
#playlists a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playlists img {
    width: 80%;
    margin-top: 10px;
}
#playlists h3 {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}
#playlists p {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
#playlists .more {
    margin-top: 10px;
}
    /*CC's code for the scrollbar*/
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}

/*CURATED PLAYLISTS SECTION************************************/
#curated {
    color: #FFF;
    background-color: #FFF;
    width: 415px;
}
#curated h2 {
    margin-bottom: 10px;
    margin-left: 25px;
}
#curated div {
    display: flex;
    background-color: #030A8C;
    width: 415px;
    overflow: scroll;
}
#curated section {
    background-color: #020873;
    min-width: 185px;
    flex: 1 0 1;
    margin: 10px;
}
#curated a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#curated img {
    width: 80%;
    margin-top: 10px;
}
#curated h3 {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
#curated p {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 14pt;
    text-align: center;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
#curated .more {
    margin-top: 12px;
}

    /*CC's code for the scrollbar*/
#curated ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#curated ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#curated ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#curated ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}

/*MEDIA QUERIES************************************************/
@media screen and (min-width:834px) {
    body {
        width: 834px;
        grid-template-areas: 
        "nav nav"
        "header header"
        "trending trending"
        "playlists curated"
        "footer footer";
    }
    header {
        grid-area: header;
    }
    header p, header h2 {
        padding-left: 20px;
    }
    nav {
        width: 834px;
        grid-area: nav;
        height: 95px;
    }
    ul {
        width: 834px;
        grid-gap: 12px;
    }
    li:first-child {
        padding-left: 0;
        display: flex;
        align-items: center;
    }
    footer {
        grid-area: footer;
    }
    .songs {
        width: 834px;
    }
    #trending {
        grid-area: trending;
        display: flex;
        flex-direction: column;
    }
    #trending h2, #playlists h2, #curated h2 {
        padding-left: 15px;
    }
    #trending .more {
        align-self: flex-end;
        margin-right: 10px;
        margin-top: -8px;
    }
    #playlists {
        grid-area: playlists;
        display: flex;
        flex-direction: column;
        /* width: 400px; */
    }
    #playlists img, #curated, img {
        margin-top: 0;
    }
    #playlists a:hover {
        height: 102.8px;
        width: 395px;
    }
    #playlists .more {
        align-self: flex-end;
        margin-right: 10px;
    }
    #curated {
        grid-area: curated;
        display: flex;
        flex-direction: column;
        /* width: 400px; */
    }
    /*FIX THIS HOVER*/
    #curated a:hover {
        height: 124.6px;
        width: 395px;
    }
    #curated .more {
        align-self: flex-end;
        margin-right: 10px;
    }
    #playlists div, #curated div {
        height: 450px;
        flex-direction: column;
        overflow: scroll;
    }
    #playlists a, #curated a {
        display: grid;
        grid-template-areas: 
        "img h3"
        "img p";
    }
    #playlists img, #curated img {
        grid-area: img;
    }
    #playlists h3, #curated h3 {
        grid-area: h3;
    }
    #playlists p, #curated p  {
        grid-area: p;
    }

    /*Hamburger menu coding from CC*/
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
    /*ENDS Hamburger menu coding from CC*/
    
}

